@tailwind base;
@tailwind components;
@tailwind utilities;

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.calciDisplay {
    width: 300px;
}

.firstInput {
    display: flex;
    justify-content: right;
}

.secondInput {
    display: flex;
    justify-content: right;
}